.inner {
    background-color: #ffffff;
    padding-bottom: 17px;

}

.bottom {
    display: flex;
    align-items: center;
    &-select1 {
      padding: 14px 44px 14px 30px;
      background: #ffffff;
      border: 1px solid rgba(151, 151, 151, 0.496575);
      box-sizing: border-box;
      border-top-left-radius: 22.5px;
      border-bottom-left-radius: 22.5px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      outline: none;
      color: #000000;
    }
    &-inp1 {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
      padding: 14px 139px 14px 25px;
      background: #ffffff;
      border: 1px solid rgba(151, 151, 151, 0.496575);
      box-sizing: border-box;
      border-left: none;
      outline: none;
    }
    &-select2 {
      padding: 14px 60px 14px 24px;
      background: #ffffff;
      border: 1px solid rgba(151, 151, 151, 0.496575);
      box-sizing: border-box;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      border-left: none;
      border-right: none;
      color: #000000;
      outline: none;
      cursor: pointer;
    }
    &-btn1 {
      padding: 16px 19px 15px;
      border: none;
      background: #19d476;
      border-radius: 22px;
      margin-left: -20px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      outline: none;
      cursor: pointer;
      color: #ffffff;
      position: relative;
    
      &::before {
        position: absolute;
        content: '';
        background-image: url('../../assets/images/icons/Fill1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 14px;
        left: -40px;
        top: 23px;
      }
    }
    &-btn2 {
        width: 244px;
      padding: 15px 30px 14px 56px;
      box-sizing: border-box;
      background: #19d476;
      border-radius: 22px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      color: #ffffff;
      margin-left: 32px;
      border: none;
      cursor: pointer;
      outline: none;
      position: relative;
      & span {
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 7px 15px 7px;
        background: #11b463;
        border-radius: 22px;
        font-family: Gilroy;
        font-size: 28px;
        line-height: 33px;

        color: #ffffff;
      }
    }
  }