.header {
  &-top {
      padding-top: 12px;
      margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      align-items: center;
      a {
        img {
          margin-right: 14px;
        }
      }
      p {
        width: 152px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 17px;
        color: #000000;
      }
    }
    &-midl {
      display: flex;
      align-items: center;
      width: 425px;
      justify-content: space-between;
      a {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      &-text1 {
        width: 79px;
        display: flex;
        justify-content: space-between;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
        cursor: pointer;
      }
      &-text2 {
        width: 180px;
        display: flex;
        justify-content: space-between;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        color: #4e72ca;
        margin-left: 66px;
        cursor: pointer;
        &-registr {
            border-bottom: 1px solid #4E72CA;
        }
      }
    }
  }
  
}
