.homcomponent {
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 26px;
  & img {
    width: 262px;
    height: 190px;
    object-fit: contain;
    margin-bottom: 11px;
  }

  & p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 254px;
    height: 53px;
  }
  & span {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    margin-bottom: 4px;
  }
  & h5 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
}
