.main1 {
  background: #33383c;
  padding-bottom: 12px;
  padding-top: 52px;
}

.footerbottom {
  &-inner {
    display: flex;
    justify-content: space-between;
    &-block {
      display: flex;
      flex-direction: column;
      & h3 {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        & span {
          margin-left: 16px;
        }
      }
      & a {
        padding-left: 20px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 29px;
        color: #878f99;
      }
    }
  }
  &-text {
    font-family: Gilroy;
    font-size: 15px;
    line-height: 18px;
    color: #66717a;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 34px;
    border-bottom: 1px solid #4c565e;
    cursor: pointer;
    margin-bottom: 27px;
  }
  &-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link1 {
      font-family: Gilroy;
      font-size: 15px;
      line-height: 18px;

      color: #05f3b3;
    }
    &-link {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 29px;
        color: #878F99;
    }
  }
}
